
#wb_header { height: 120px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 974px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 15px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat scroll left top; }
body { background: transparent url("../jpg/708338597ba5ddecf47e53e74a6d7f2d.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 992px; min-height: 1109px; }
.wb_cont_inner { width: 992px; }
.wb_cont_bg { width: 992px; margin-left: -496px; }
.root { height: 1059px; overflow: visible; min-height: 1109px; }
#wb_element_instance58 { top: 20px; left: 370px; min-width: 622px; width: 622px; min-height: 80px; height: 80px; display: block; z-index: 584; }
#wb_element_instance58 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance58, #wb_element_instance58 ul { text-align: right; }
#wb_element_instance58 ul ul { background: transparent none repeat scroll right top; }
#wb_element_instance58 li { margin: 0px 0px 0px 0px; }
#wb_element_instance58 li a { text-transform: none; border: 0px none #000000; padding: 31px 20px 27px 20px; font: normal normal 20px 'Roboto',sans-serif; text-decoration: none; color: #383838; line-height: 22px; background: #ffffff none no-repeat scroll center top; }
#wb_element_instance58 li.over > a, #wb_element_instance58 li:focus > a { border: 0px none #000000; font: normal normal 20px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #35c7f0 none no-repeat scroll center top; }
#wb_element_instance58 li.active > a { border: 0px none #000000; font: normal normal 20px 'Roboto',sans-serif; text-decoration: none; color: #ffffff; line-height: 22px; background: #00a2cf none no-repeat scroll center center; }
#wb_element_instance58:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance58:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance58:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance59 { top: 20px; left: 0px; min-width: 990px; width: 990px; min-height: 80px; height: 80px; display: block; z-index: 450; }
#wb_element_instance59 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 0px solid #C0C0C0; opacity: 1; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; width: 990px; height: 80px; }
#wb_element_instance60 { top: 24px; left: 95px; min-width: 290px; width: 290px; min-height: 59px; height: 59px; display: block; z-index: 551; }
#wb_element_instance61 { top: 20px; left: 10px; min-width: 80px; width: 80px; min-height: 80px; height: 80px; display: block; z-index: 459; }
#wb_element_instance61 img { width: 80px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance62 { top: 0px; left: 0px; min-width: 560px; width: 560px; min-height: 24px; height: 24px; display: block; z-index: 222; }
#wb_element_instance63 { top: 260px; left: 0px; min-width: 990px; width: 990px; min-height: 612px; height: 612px; display: block; z-index: 293; }
#wb_element_instance64 { top: 180px; left: 0px; min-width: 990px; width: 990px; min-height: 59px; height: 59px; display: block; z-index: 294; }
#wb_element_instance65 { top: 834px; left: 118px; min-width: 130px; width: 130px; min-height: 40px; height: 40px; display: block; z-index: 295; }
#wb_element_instance65 .wb_button { width: 130px; height: 40px; font-family: Georgia,serif; font-size: 14px; text-align: center; border: 1px solid #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #08f7f7; font-style: normal; font-weight: bold; text-decoration: none; background: #0c2bf0 none repeat left top; }
#wb_element_instance65 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance65 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance66 { top: 894px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance67 { top: 44px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance60 p:last-child { margin-bottom: 0; }
#wb_element_instance62 p:last-child { margin-bottom: 0; }
#wb_element_instance63 p:last-child { margin-bottom: 0; }
#wb_element_instance64 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
